*{
    margin: 0;
    padding: 0;
}
#headerImage img{
    width: 100%;
    height: auto;
}  
#top-section{
    position:absolute;
    z-index: 1;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(180, 177, 177),rgba(109, 107, 107, 0));
 }
 #left-section{
    display: inline-block;
    width: 20%;
    padding: 0;
    margin: 0;
 }
 #right-section{
    width:78%;
    display: inline-block;
    vertical-align: 80%;
 }
 #top-section img{
    width: 18%;
    margin-left: 10%;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 2px;
 }
 #top-section h1{
    display: inline-block;
    font-size: 40px;
    color: #333333;
    margin: 0;
    vertical-align:text-bottom;
 }
 #top-section nav{
   vertical-align: top;
 }
 #top-section nav ul{
   text-align: right;
    list-style: none;
 }
 #top-section nav ul li{
  display: inline-block;
  padding-left: 2%;
 }
 #top-section nav ul li a{
  color: #333333;
  font-size: 19px;
  text-decoration: none;
  font-weight: normal;
 }
 #top-section nav ul li a:hover{
  animation: drop-in 1800ms;
  }
.colour-block {
    background:#c5c5c5;
    width:60%;
    padding:10% 35% 3% 5%;
    color:#fff;
  }
  .white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 5% 20%;
    color:#823A9C;
  }

  .skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #c5c5c5 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
  
  .skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #c5c5c5 50%);
  }
  .sectionText{
    display: inline-block;
    width: 48%;
  }
  .colour-block  .sectionText{
    position: relative;
    left: 17%;
  }
  .sectionText h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
  }
  .sectionText p{
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
  }
  .white-block .sectionText{
    color: #333333;
  }
  .sectionText p::first-letter{
    padding-left: 1%;
  }
  .sectionImg{
    display: inline-block;
    width: 50%;

  }

  .sectionImg img{
    width: 130%;
    height: auto;
    
    border-radius: 1%;
  }
  footer{
    background: rgb(32, 36, 43);
    padding: 0 20%;
    padding-top: 1%;
    margin: 0;
  }
  footer section{
    width: 27%;
    display: inline-block;
    vertical-align: top;
  }
  footer section h3{
    color: white;
    font-size: 25px;
    font-family: Kanit;
    font-weight: 400;
    padding-bottom: 2%;
  }
  footer #follow nav ul li{
    display: inline-block;
    margin-left: 2%;
  }
  footer #follow nav ul li a{
    font-size: 24px;
  }
  footer #follow nav ul li a:nth-last-child(1){
    color: #1DA1F2;
  }
  footer #follow nav ul li a:nth-last-child(2){
    color: #405DE6;
  }
  footer #follow nav ul li a:nth-last-child(3){
    color: #4267B2;
  }
  footer #contactUs p{
    padding:0;
    margin-bottom: 2%;
    color: rgb(171, 170, 173);
    font-size: 14px;
    font-family: Work Sans;
  }
  footer #links nav ul li{
    list-style-type: none;
  }
  footer #links nav ul li a{
    text-decoration: none;
    font-family: Work Sans;
    font-size: 14px;
    color: rgb(47, 113, 174);
  }
  footer div h3{
    color: white;
    font-size: 14px;
    font-family: Work Sans;
    font-weight: 400;
    padding-bottom: 2%;
    margin:0;
  }
  .hamburger{
    display: none;
  }

  @keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }
  @media (max-width: 1150px){
    #left-section h1{
      font-size: 7vw;
    }
    #left-section {
      width: 100%;
    }
    #left-section img{
      width: 8%;
      margin-left: 1%;
    }
    .hamburger{
      display: inline-block;
      float:right;
      font-size: 35px;
      padding-top: 1%;
      padding-right: 2%;
      color:rgb(49, 48, 48);
      text-decoration: none;
      list-style-type: none;
    }
    .hamburger:visited{
      color:rgb(49, 48, 48);
    }
    #right-section{
      width: 100%;
      display: none;
    }
    #top-section nav ul li a{
      font-size: 25px;
    }
    #top-section nav ul{
      padding: 0 15%;
    }
    #top-section nav ul li{
      display: block;
      z-index: 1;
      text-align: center;
      border-top: solid 1px rgb(49, 48, 48);
      padding: 2% 0%;
    }
    #top-section nav ul li:nth-last-child(1) {
      padding-right: 0;
    }
    .sectionText h1{
      font-size: 3vw;
    }
    .sectionText p{
      font-size: 1.2vw;
    }
    .colour-block{
      padding-bottom: 1%;
    }
    .white-block{
      padding-bottom: 1%; 
    } 
    footer{
      padding: 0;
      padding-left: 3%;
    }
    footer section{
      margin-left: 1%;
    }
  }
  @media (max-width: 465px){
   
    .skew-cc{
      display:none;
    }
    .skew-c{
      display:none;
    }
    .colour-block {
      width: 100%;
      padding:5% 0;
    }
    .white-block {
      width: 100%;
      padding:5% 0;
    }
    .sectionImg img{
      width: 100%;
    }
    .sectionImg{
      width: 48%;
    }
    .sectionText{
      padding-left: 2%;
    }
    .colour-block  .sectionText{
      position: relative;
      left: 0;
    }
    footer section{
      width: 100%;
    }
}